<div class="container">
  <div class="spacer"></div>
  <%= "#{app_name}" %>
  <div class="spacer"></div>
  <div id="host">
    <div class="label">Host</div>
    <div class="value"><%= hostname %></div>
  </div>
  <div class="spacer"></div>
  <div id="environment_variables">
    <div class="label">Environment Variables</div>
  <div class="spacer"></div>
  <div>
    <table>
      <% @env_vars.each_with_index do |(key, value), i| %>
        <tr class="<%= i%2==0 ? 'even' : nil %>">
        <td><%= key %></td>
        <td><%= value %></td>
      </tr>
    <% end %>
    </table>
  </div>
</div>
  <div class="clear"></div>
</div>

