<div class="container">
  <div class="spacer"></div>
  <div id="host">
    <div class="label">Host</div>
    <div class="value"><%= hostname %></div>
  </div>
  <div class="spacer"></div>
  <div id="environment">
    <div class="label">Environment</div>
    <div class="value"><%= @version.environment %></div>
  </div>
  <div class="spacer"></div>
  <h3>Current Deploy Info</h3>
  <% @version.info.each do |key, value| %>
    <div class="spacer"></div>
    <div>
      <div class="label">
        <%= key.to_s.gsub('_',' ').capitalize %>
      </div>
      <div class="value">
        <%= value %>
      </div>
    </div>
  <% end %>
  <div class="spacer"></div>
  <h3>Previous Deploy Info</h3>
  <% @version.previous_info.each do |key, value| %>
    <div class="spacer"></div>
    <div>
      <div class="label">
        <%= key.to_s.gsub('_',' ').capitalize %>
      </div>
      <div class="value">
        <%= value %>
      </div>
    </div>
  <% end %>
  <div class="spacer"></div>
  <div id="headers">
    <div class="label">Headers</div>
    <div class="value">
      <table>
        <% @headers.sort_by{ |h| h.first }.each_with_index do |(header, value), i| %>
          <tr class="<%= i%2==0 ? 'even' : nil %>">
            <td><%= header %></td>
            <td><%= value %></td>
          </tr>
        <% end %>
      </table>
    </div>
  </div>
  <div class="clear"></div>
</div>
