<div class="container">
  <div class="spacer"></div>
  <div id="version">
    <div class="label">
      <%= "#{app_name} Version" %>
    </div>
    <div class="value">
      <%= version_link @version.version_or_branch %>
    </div>
  </div>
  <div class="spacer"></div>
  <div id="date">
    <div class="label">Date Deployed</div>
    <div class="value"><%= @version.deploy_date %></div>
  </div>
  <div class="spacer"></div>
  <div id="commit">
    <div class="label">Last Commit</div>
    <div class="value">
      <%= commit_link(@version.last_commit)%>
    </div>
  </div>
  <div class="spacer"></div>
  <div id="host">
    <div class="label">Host</div>
    <div class="value"><%= hostname %></div>
  </div>
  <div class="spacer"></div>
  <div id="environment">
    <div class="label">Environment</div>
    <div class="value"><%= @version.environment %></div>
  </div>
  <div class="spacer"></div>
  <div id="previous_versions">
    <div class="label">Previous Versions</div>
    <div class="value">
      <% unless @previous_versions.empty? %>
        <table>
          <tr class="header">
            <td>Time</td>
            <td>Version</td>
            <td>Commit</td>
          </tr>
          <% @previous_versions.each_with_index do |version, i| %>
            <tr class="<%= i%2==0 ? 'even' : nil %>">
              <td>
                <%= version[:time].strftime('%x %X') %>
              </td>
              <td>
                <%= version_link(version[:version]) %>
              </td>
              <td>
                <%= commit_link(version[:revision]) %>
              </td>
            </tr>
          <% end %>
        </table>
      <% end %>
    </div>
  </div>
  <div class="spacer"></div>
  <div id="headers">
    <div class="label">Headers</div>
    <div class="value">
      <table>
        <% @headers.sort_by{ |h| h.first }.each_with_index do |(header, value), i| %>
          <tr class="<%= i%2==0 ? 'even' : nil %>">
            <td><%= header %></td>
            <td><%= value %></td>
          </tr>
        <% end %>
      </table>
    </div>
  </div>
  <div class="clear"></div>
</div>
