.container
  .spacer
  #version
    .label= "#{app_name} Version"
    .value
      %a{:href => version_link(@version.version_or_branch)}= @version.version_or_branch
  .spacer
  #date
    .label Date Deployed
    .value= @version.deploy_date
  .spacer
  #commit
    .label Last Commit
    .value
      %a{:href => commit_link(@version.last_commit)}= @version.last_commit
  .spacer
  #host
    .label Host
    .value= hostname
  .spacer
  #environment
    .label Environment
    .value= environment
  .spacer
  #previous_versions
    .label Previous Versions
    .value
      - unless @previous_versions.empty?
        %table
          %tr.header
            %td Time
            %td Version
            %td Commit
          - @previous_versions.each_with_index do |version, i|
            %tr{ :class => i%2==0 ? 'even' : nil }
              %td= version[:time].strftime('%x %X')
              %td
                %a{ :href => version_link(version[:version]) }= version[:version]
              %td
                %a{ :href => commit_link(version[:revision]) }= version[:revision]
  .spacer
  #headers
    .label Headers
    .value
      %table
        - @headers.sort_by{ |h| h.first }.each_with_index do |(header, value), i|
          %tr{ :class => i%2==0 ? 'even' : nil }
            %td= header
            %td= value
  .clear
